
body{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

li{
    display: flex;
    margin-top: 15px;

    width: 80%;
    outline: 1px solid black;
}

.table-1{
    outline: solid black 1px;
    height: 90vh;
    width: 40%;
}

.table-2{
    outline: solid black 1px;
    height: 90vh;
    width: 40%;
}

.specific-product{
    height: 90vh;
    width: 40%;
    outline: solid black 1px;
}